* {
  margin: 0;
}

/* todoo el header */
header {
  background-image: url(../VALE.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

nav {
  display: grid;
  background: rgba(79, 61, 71, 0.87);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 20%;
}

nav h1 {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  color: #fafafa;
}

nav h1 span {
  color: #f35caa;
}

nav div {
  grid-column: 8/13;
  grid-row: 3;
  display: flex;
  gap: 15px;
  align-items: center;
}

nav div a button {
  background: transparent;
  border: none;
  color: #eaebec;
}

.home {
  background: transparent;
  border: 2px solid #f35caa;
  color: #f35caa;
  width: 60px;
  font-size: 13px;
  height: 30px;
}

.textG {
  width: 100%;
  height: 80%;
  display: flex;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
}

.textG div {
  color: #dcdcdd;
  background-color: #c71e6d;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.text1 {
  grid-column: 2/6;
  grid-row: 3;
  align-self: flex-end;
  width: 38%;
  
}

.text2 {
  grid-column: 2/6;
  grid-row: 4;
  width: 55%;
}

/* section 1 */
.section1 {
  background-color: #c71e6d;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 400px;
  gap: 25px;
}

.section1 div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.section1 div img {
  width: 41px;
  height: 41px;
}

.section1 div h2 {
  color: #def5ff;
}

.section1 p {
  color: #c0ecff;
}

.div1-a {
  grid-column: 3/6;
  grid-row: 3/8;
}

.div2-a {
  grid-column: 6/9;
  grid-row: 3/8;
}

.div3-a {
  grid-column: 9/12;
  grid-row: 3/8;
}

.div4-a {
  grid-column: 12/15;
  grid-row: 3/8;
}

/* section 2 */
.section2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 120px repeat(2, 1fr) 34px;
  height: 100%;
}

.div1-b {
  height: 120px;
  grid-column: 2/6;
  grid-row: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  width: 30px;
}

.div1-a-b {
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.div2-a-b {
  grid-column: 7/12;
  grid-row: 2/3;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}

.div2-2 {
  grid-column: 1/13;
  grid-row: 2;
  height: 100%;
}

.section2 img {
  width: 267px;
  height: 267px;
  margin: 5px;
  filter: grayscale(100%);
}

.img1 {
  grid-column: 2;
  grid-row: 2;
}

.img2 {
  grid-column: 3;
  grid-row: 2;
}

.img3 {
  grid-column: 4;
  grid-row: 2;
}

.img4 {
  grid-column: 5;
  grid-row: 2;
}

.img5 {
  grid-column: 2;
  grid-row: 3;
}

.img6 {
  grid-column: 3;
  grid-row: 3;
}

.img7 {
  grid-column: 4;
  grid-row: 3;
}

.img8 {
  grid-column: 5;
  grid-row: 3;
}

.butt {
  color: #6f7a81;
  background: transparent;
  border: none;
}

.portafolio {
  color: #91999e;
}

hr {
  color: #647077;
}

/* section 3 */
.section3 {
  background: #515f67;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 500px;
}

.title {
  font-size: 25px;
  color: #b3b8bb;
  background-color: #c71e6d;
}
.title-v{
  background-color: #c71e6d;
}
.p {
  color: #adb3b7;
}

.div1-c {
  grid-area: 2/2/7/7;
  align-self: center;
  justify-self: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div2-c {
  grid-area: 2/6/7/12;
  align-self: center;
  justify-self: center;
}

.div1-c button {
  background: transparent;
  color: #2e373b;
  border: solid #48555c;
  width: 25%;
  height: 38px;
  font-size: 12px;
  padding: 5px;
}

/* section 4 */
.section4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background: #c71e6d;
  gap: 10px;
}

.twitter {
  grid-area: 2/2;
  color: #cdf0ff;
  font-size: 25px;
}

.space {
  background: #ffffff;
  height: 2px;
  width: 45px;
}

.section4 img {
  grid-area: 2/4;
  justify-self: end;
}

.p1-c {
  grid-area: 3/2/5/6;
  color: #cdf0ff;
  font-size: 21px;
}

.p2-c {
  grid-area: 4/2/6/6;
  color: #cdf0ff;
  font-size: 21px;
}

.butt2-3 {
  color: #ffffff;
}

/* section 5 */
.section5 {
  background: url(../VALE.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 56px;
}

.div1-d {
  grid-area: 2/2/3/5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div1-d .title p {
  font-size: 25px;
  color: #d3d7da;
}

.div1-d p,
.div2-d p {
  font-size: 17px;
  color: #d2d3d4;
  width: 100%;
}

.div2-d {
  grid-area: 2/5/3/7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  gap: 22px;
}

/* SECTION 6 */
.section6 {
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 80px 1fr 80px;
  background: url(../netflix-estrenos-de-la-semana-8-al-14-de-agostojpg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.section9{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;


}

.div1-e .space {
  background: #6c777d;
  height: 2px;
  width: 45px;
}

.div1-e {
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.p1-e {
  grid-area: 2/3/3/8;
  font-size: 20px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #2e373b;
  
}

.div1-e p {
  font-size: 25px;
  color:#c71e6d;
  opacity:70%;
  
}

.p2-e {
  color: #51ccff;
  grid-area: 3/3/4/7;
  align-self: flex-end;
  display: flex;
  align-self: center;
  background-color: #2e373b;
  
}

/*section 7*/
.section7 {
  background-image: url(../images/bg_contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr) 160px 1fr;
}

.contact {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  color: #e5e8ea;
}

.form input {
  width: 290px;
  height: 30px;
  border: 1px solid #e5e7e8;
  background: none;
  color: #e5e8ea;
}

.form label {
  color: #e8eaeb;
}

.form1 {
  grid-column: 2;
  grid-row: 3;
}

.form2 {
  grid-column: 2;
  grid-row: 4;
}

.form3 {
  grid-column: 2/6;
  grid-row: 5;
}

.form3 textarea {
  border: 1px solid #e5e7e8;
  background: none;
  width: 80%;
  height: 120px;
}

.form4 {
  grid-column: 2;
  grid-row: 6;
}

.form4 input {
  width: 260px;
  height: 40px;
  background: #c71e6d;
  border: none;
}

.text {
  width: 60%;
  margin-left: 120px;
  grid-column: 3/6;
  grid-row: 3/5;
  color: #e5e7e8;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
}

/* footer */
.palo {
  color: #4f5d65;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: #353f47;
}

footer button {
  border: none;
  color: #4f5d65;
  background: #353f47;
}

.footer1 {
  display: flex;
  flex-direction: row;
}

.footer2 p {
  color: #4f5d65;
}

@media only screen and (min-width: 0px) and (max-width: 490px) {
  /* Estilos para dispositivos móviles */
  header {
    height: 192px;
  }

  /* header */
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
  }

  nav div {
    grid-column: 8/13;
    grid-row: 3;
    display: flex;
    gap: 2px;
    align-items: center;
    flex-wrap: wrap;
  }

  nav b {
    text-decoration: none;
    font-size: 10px;
  }

  .home {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 20px;
    text-decoration: none;
  }

  /* despues del home */
  .textG {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .text1 {
    align-self: center;
    width: 80%;
    height: 20%;
    padding: 5px;
  }

  .text2 {
    align-self: center;
    width: 80%;
    height: 20%;
    padding: 5px;
  }

  .textG p {
    font-size: 15px;
  }

  /* section 1 */
  .section1 {
    padding: 15px;
    background-color: #c71e6d;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 25px;
  }

  .section1 div {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    width: 90%;
    gap: 10px;
  }

  .section1 div img {
    margin-left: 10px;
    align-self: flex-end;
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
  }

  .section1 div h2 {
    grid-column: 1;
    grid-row: 2;
    font-size: 15px;
    margin-left: 10px;
  }

  .section1 p {
    grid-column: 2;
    grid-row: 1/3;
    width: 90%;
    align-self: center;
    justify-self: center;
    margin-left: 22px;
  }

  /* section 2 */
  .section2 {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
  }

  .section2 img {
    width: 200px;
    height: 200px;
    /* margin: 5px; */
    filter: grayscale(100%);
  }

  .div1-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 77px;
    width: 100%;
  }

  .div2-a-b {
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 100%;
    flex-wrap: wrap;
  }

  .butt {
    font-size: 12px;
  }

  nav a {
    text-decoration: none;
  }

  /* section 3 */
  .section3 {
    background: #515f67;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .div2-c img {
    width: 265px;
    height: 200px;
  }

  /* section 4 */
  .section4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: #c71e6d;
    gap: 10px;
  }

  .p2-c {
    grid-area: 5/2/6/6;
    color: #cdf0ff;
    font-size: 21px;
  }

  /* section 5 */
  .section5 {
    background: url(../images/bg_whoIs.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 17px;
    height: 100%;
  }

  .contact {
    align-self: flex-start;
  }

  .form input {
    width: 80%;
    height: 30px;
    border: 1px solid #e5e7e8;
    background: none;
    color: #e5e8ea;
  }

  .form label {
    color: #e8eaeb;
    font-size: 13px;
  }

  .text {
    width: 100%;
    grid-column: 3/6;
    grid-row: 3/5;
    color: #e5e7e8;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 0;
    gap: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  /* footer */
  footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    background: #353f47;
  }

  .footer1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 491px) and (max-width: 700px) {
  /* Estilos para dispositivos móviles */
  header {
    height: 192px;
  }

  /* header */
  nav h1 {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    color: #fafafa;
  }

  nav div {
    grid-column: 5/13;
    grid-row: 3;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav b {
    text-decoration: none;
    font-size: 10px;
  }

  .home {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 20px;
    text-decoration: none;
  }

  /* despues del home */
  .textG {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .text1 {
    align-self: center;
    width: 285px;
    height: 10%;
    padding: 5px;
  }

  .text2 {
    align-self: center;
    width: 407px;
    height: 20%;
    padding: 5px;
  }

  .textG p {
    font-size: 15px;
  }

  /* section 1 */
  .section1 {
    padding: 15px;
    background-color: #c71e6d;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2px;
  }

  .section1 div {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    width: 90%;
    gap: 10px;
  }

  .section1 div img {
    margin-left: 10px;
    align-self: flex-end;
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
  }

  .section1 div h2 {
    grid-column: 1;
    grid-row: 2;
    font-size: 15px;
    margin-left: 30%;
  }

  .section1 p {
    grid-column: 2;
    grid-row: 1/3;
    width: 90%;
    align-self: center;
    justify-self: center;
    margin-left: 22px;
  }

  /* section 2 */
  .section2 {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
  }

  .section2 img {
    width: 200px;
    height: 200px;
    /* margin: 5px; */
    filter: grayscale(100%);
  }

  .div1-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 77px;
    width: 100%;
  }

  .div2-a-b {
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 100%;
    flex-wrap: wrap;
  }

  .butt {
    font-size: 12px;
  }

  nav a {
    text-decoration: none;
  }

  /* section 3 */
  .section3 {
    background: #515f67;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .div2-c img {
    align-self: flex-start;
    width: 265px;
    height: 200px;
  }

  .div2-c {
    width: 100%;
    align-self: flex-start;
    justify-self: center;
  }

  /* section 4 */
  .section4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: #c71e6d;
    gap: 10px;
  }

  .p2-c {
    grid-area: 5/2/6/6;
    color: #cdf0ff;
    font-size: 21px;
  }

  /* section 5 */
  .section5 {
    background: url(../images/bg_whoIs.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 17px;
    height: 100%;
  }

  .contact {
    align-self: flex-start;
  }

  .form input {
    width: 80%;
    height: 30px;
    border: 1px solid #e5e7e8;
    background: none;
    color: #e5e8ea;
  }

  .form label {
    color: #e8eaeb;
    font-size: 13px;
  }

  .text {
    width: 100%;
    grid-column: 3/6;
    grid-row: 3/5;
    color: #e5e7e8;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 0;
    gap: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  /* footer */
  footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    background: #353f47;
  }

  .footer1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1132px) {
  /* Estilos para dispositivos móviles */
  /* header */
  nav h1 {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    color: #fafafa;
  }

  nav div {
    grid-column: 5/13;
    grid-row: 3;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav b {
    text-decoration: none;
    font-size: 10px;
  }

  .home {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 20px;
    text-decoration: none;
  }

  .text1 {
    align-self: center;
    width: 360px;
    height: 80%;
    padding: 5px;
  }

  .text2 {
    align-self: center;
    width: 407px;
    height: 80%;
    padding: 5px;
  }

  /* section 1 */
  .section1 {
    padding: 20px;
  }

  .div1-a {
    grid-column: 1/5;
    grid-row: 3/8;
  }

  .div2-a {
    grid-column: 5/9;
    grid-row: 3/8;
  }

  .div3-a {
    grid-column: 9/13;
    grid-row: 3/8;
  }

  .div4-a {
    grid-column: 13/17;
    grid-row: 3/8;
  }

  /* section 2 */
  .section2 {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
  }

  .section2 img {
    width: 200px;
    height: 200px;
    /* margin: 5px; */
    filter: grayscale(100%);
  }

  .div1-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 77px;
    width: 100%;
  }

  .div2-a-b {
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 100%;
    flex-wrap: wrap;
  }

  .butt {
    font-size: 12px;
  }

  nav a {
    text-decoration: none;
  }

  /* section 3 */
  .section3 {
    background: #515f67;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 425px;
  }

  .div1-c {
    grid-area: 1/1/7/8;
    align-self: center;
    justify-self: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .div2-c {
    grid-area: 2/7/7/12;
    align-self: flex-start;
    justify-self: center;
  }

  .div2-c img {
    width: 266px;
    height: 255px;
  }

  /* section 4 */
  .section4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr) 5px;
    background: #c71e6d;
    gap: 10px;
  }

  .p2-c {
    grid-area: 5/2/6/6;
    align-self: flex-start;
    color: #cdf0ff;
    font-size: 21px;
  }

  /* section 5 */
  .div2-d {
    grid-area: 2/5/3/8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* justify-content: end; */
    gap: 22px;
  }

  /* formulario */
  .form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr) 60px;
    height: 400px;
    padding: 20px;
  }

  .contact {
    grid-column: 1;
    grid-row: 1;
  }

  .form input {
    width: 290px;
    height: 30px;
    border: 1px solid #e5e7e8;
    background: none;
    color: #e5e8ea;
  }

  .form label {
    color: #e8eaeb;
  }

  .form1 {
    grid-column: 1;
    grid-row: 2;
  }

  .form2 {
    grid-column: 1;
    grid-row: 3;
  }

  .form3 {
    grid-column: 1/6;
    grid-row: 4;
  }

  .form4 {
    grid-column: 1;
    grid-row: 5;
  }

  .form4 input {
    width: 260px;
    height: 40px;
    background: #c71e6d;
    border: none;
  }

  .text {
    width: 80%;
    grid-column: 2/6;
    grid-row: 1/5;
    justify-content: flex-start;
    margin-left: 52px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80%;
  }
}
